.VotingPage{
    background-color: rgb(25, 62, 41);
}

.VotingPage .page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}
.VotingPage #cool-span{
    color: rgb(231, 170, 16);
    padding: 0 10px;
}

.VotingPage .cards{
    display: flex;
    justify-content: space-around;
}


@media (max-width: 576px) {

.VotingPage .cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}

.VotingPage h1{
    font-size: 1rem;
    padding-bottom: 50px;
}

.VotingPage{
    height: 200vh;
    width: 100vw;
}


}